{% extends "admin/admin_layout.html" %}
{% block content %}
	<div class="page-content-wrapper">
		<div class="page-content">
			<!-- BEGIN PAGE HEADER-->
			<h3 class="page-title">
			商家列表 <small>查看所有商家</small>
			</h3>
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a href="index.html">商家管理</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<a href="#">商家列表</a>
					</li>
				</ul>
			</div>
			<!-- END PAGE HEADER-->
			<!-- BEGIN PAGE CONTENT-->
			<div class="row">
				<div class="col-md-12"><div class="portlet light">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-shopping-cart"></i>商家列表
							</div>
							<div class="tools">
								<a href="javascript:;" class="collapse" data-original-title="" title="">
								</a>
								<a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title="">
								</a>
								<a href="javascript:;" class="reload" data-original-title="" title="">
								</a>
								<a href="javascript:;" class="remove" data-original-title="" title="">
								</a>
							</div>
						</div>
						<div class="portlet-body">
							<div class="table-scrollable">
								<table class="table table-striped table-bordered table-advance table-hover">
								<thead>
								<tr>
									<th>
										<i class="fa fa-briefcase"></i> 名称
									</th>
									<th class="hidden-xs">
										<i class="fa fa-question"></i> 描述
									</th>
									<th>
										<i class="fa fa-bookmark"></i> 备注
									</th>
									<th>
										<i class="fa fa-bookmark"></i> 联系方式
									</th>
									<th>
										<i class="fa fa-bookmark"></i> 地址
									</th>
									<th>
										<i class="fa fa-bookmark"></i> 操作
									</th>
								</tr>
								</thead>
								<tbody>
								{% for merchant in merchants %}
								<tr>
									<td>
										<a href="javascript:;">
										{{ merchant.merchant_name }} </a>
									</td>
									<td class="hidden-xs">
										{{ merchant.merchant_description }}
									</td>
									<td>
										{{ merchant.merchant_remark }}
									</td>
									<td>
										{{ merchant.merchant_phone_number1 }}
									</td>
									<td>
										{{ merchant.merchant_address }}
									</td>
									<td>
										<a href="{{ url_for('admin_modify_merchant_page', id=merchant.uuid) }}" class="btn default btn-xs green-stripe">
										修改 </a>
									</td>
								</tr>
								{% endfor %}
								</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END PAGE CONTENT-->
		</div>
	</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
	$("#0_3_left_bar").addClass("active open");
	$("#0_3_left_bar a:first").append('<span class="selected"></span>');
	$("#0_3_left_bar a:first span").addClass("open");
	$("#1_3_1_left_bar").addClass("active");
</script>
{% endblock %}