{% extends "admin/admin_layout.html" %}
{% block content %}
	<div class="page-content-wrapper">
		<div class="page-content">
			<!-- BEGIN PAGE HEADER-->
			<h3 class="page-title">
			房源列表 <small>查看所有房源</small>
			</h3>
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a href="index.html">商家管理</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<a href="#">房源列表</a>
					</li>
				</ul>
			</div>
			<!-- END PAGE HEADER-->
			<!-- BEGIN PAGE CONTENT-->
			<div class="row">
				<div class="col-md-12"><div class="portlet light">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-shopping-cart"></i>房源列表
							</div>
							<div class="tools">
								<a href="javascript:;" class="collapse" data-original-title="" title="">
								</a>
								<a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title="">
								</a>
								<a href="javascript:;" class="reload" data-original-title="" title="">
								</a>
								<a href="javascript:;" class="remove" data-original-title="" title="">
								</a>
							</div>
						</div>
						<div class="portlet-body">
							<div class="table-scrollable">
								<table class="table table-striped table-bordered table-advance table-hover">
								<thead>
								<tr>
									<th>
										<i class="fa fa-briefcase"></i> 名称
									</th>
									<th class="hidden-xs">
										<i class="fa fa-question"></i> 价格
									</th>
									<th>
										<i class="fa fa-bookmark"></i> 备注
									</th>
									<th>
										<i class="fa fa-bookmark"></i> 类型
									</th>
									<th>
										<i class="fa fa-bookmark"></i> 商家
									</th>
									<th>
										<i class="fa fa-bookmark"></i> 地址
									</th>
									<th>
										<i class="fa fa-bookmark"></i> 状态
									</th>
									<th>
										<i class="fa fa-bookmark"></i> 操作
									</th>
								</tr>
								</thead>
								<tbody>
								{% for room in rooms %}
								<tr>
									<td>
										<a href="javascript:;">
										{{ room.room_name }} </a>
									</td>
									<td class="hidden-xs">
										{{ room.room_price }}
									</td>
									<td>
										{{ room.room_remark1 }}
									</td>
									<td>
										{{ room.room_type }}
									</td>
									<td>
										{{ room.merchant_uuid }}
									</td>
									<td>
										{{ room.room_address }}
									</td>
									<td>
										{% if room.room_switch == 1 %}
										<input data-uuid="{{ room.uuid }}" data-state="1" type="checkbox" class="room_switch" checked data-size="small" data-on-color="success" data-on-text="开" data-off-color="danger" data-off-text="关">
										{% else %}
										<input data-uuid="{{ room.uuid }}" data-state="0" type="checkbox" class="room_switch" data-size="small" data-on-color="success" data-on-text="开" data-off-color="danger" data-off-text="关">
										{% endif %}
									</td>
									<td>
										<a href="{{ url_for('admin_modify_room_page', id=room.uuid) }}" class="btn default btn-xs green-stripe">
										修改 </a>
										<a href="javascript: $.post('{{ url_for('admin_remove_room') }}', {t1: '{{ room.uuid }}'}, function(result) { if (result['data'] == '100') { alert('已删除！') } }); location.reload();" class="btn default btn-xs green-stripe">
										修改 </a>
									</td>
								</tr>
								{% endfor %}
								</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END PAGE CONTENT-->
		</div>
	</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
	$("#0_3_left_bar").addClass("active open");
	$("#0_3_left_bar a:first").append('<span class="selected"></span>');
	$("#0_3_left_bar a:first span").addClass("open");
	$("#1_3_3_left_bar").addClass("active");
	$(".room_switch").click(function(){
		var t = $(this);
		$.post(
			'{{ url_for("change_room_state") }}',
			{t1: t.data('uuid'), t2: t.data('state')},
			function(result) {
				if (result['data'] == '100') {
					if (t.data('state') == '0') {
						t.data('state', '1');
					} else {
						t.data('state', '0');
					}
					alert("修改状态成功！")
				} else {
					alert("未知错误！");
				}
			}
		);
	})
</script>
{% endblock %}