{% extends "admin/admin_layout.html" %}
{% block content %}
	<div class="page-content-wrapper">
		<div class="page-content">
			<!-- BEGIN PAGE HEADER-->
			<h3 class="page-title">
			优惠券管理 <small>管理优惠券</small>
			</h3>
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a href="index.html">活动管理</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<a href="#">优惠券管理</a>
					</li>
				</ul>
			</div>
			<!-- END PAGE HEADER-->
			<!-- BEGIN PAGE CONTENT-->
			<div class="row">
				<div class="col-md-12">
					<div class="portlet light">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-shopping-cart"></i>优惠券管理
							</div>
							<div class="tools">
								<a href="javascript:;" class="collapse" data-original-title="" title="">
								</a>
								<a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title="">
								</a>
								<a href="javascript:;" class="reload" data-original-title="" title="">
								</a>
								<a href="javascript:;" class="remove" data-original-title="" title="">
								</a>
							</div>
						</div>
						<div class="portlet-body">
							<div class="table-scrollable">
								<table class="table table-striped table-bordered table-advance table-hover">
								<thead>
								<tr>
									<th>
										<i class="fa fa-briefcase"></i> 名称
									</th>
									<th>
										<i class="fa fa-bookmark"></i> 备注
									</th>
									<th>
										<i class="fa fa-bookmark"></i> 折扣
									</th>
									<th>
										<i class="fa fa-bookmark"></i> 限额
									</th>
									<th>
										<i class="fa fa-bookmark"></i> 限时
									</th>
									<th>
										<i class="fa fa-bookmark"></i> 库存
									</th>
									<th>
										<i class="fa fa-bookmark"></i> 操作
									</th>
								</tr>
								</thead>
								<tbody>
								{% for ct in coupon_template %}
								<tr>
									<td>
										{{ ct.coupon_name }}
									</td>
									<td>
										{{ ct.coupon_remark }}
									</td>
									<td>
										{{ ct.coupon_discount }}
									</td>
									<td>
										{{ ct.coupon_limit }}
									</td>
									<td>
										{{ ct.limit_time }}
									</td>
									<td>
										{{ ct.coupon_stock }}
									</td>
									<td>
										<a href="" class="btn btn-success btn-xs green-stripe">
										显示 </a>
										<a href="" class="btn btn-danger btn-xs green-stripe">
										删除 </a>
									</td>
								</tr>
								{% endfor %}
								</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END PAGE CONTENT-->
		</div>
	</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
	$("#0_4_left_bar").addClass("active open");
	$("#0_4_left_bar a:first").append('<span class="selected"></span>');
	$("#0_4_left_bar a:first span").addClass("open");
	$("#1_4_3_left_bar").addClass("active");
</script>
{% endblock %}