{% extends "admin/admin_layout.html" %}
{% block content %}
	<div class="page-content-wrapper">
		<div class="page-content">
			<!-- BEGIN PAGE HEADER-->
			<h3 class="page-title">
			添加优惠券 <small>添加一个新的优惠券</small>
			</h3>
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a href="index.html">活动管理</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<a href="#">添加优惠券</a>
					</li>
				</ul>
			</div>
			<!-- END PAGE HEADER-->
			<!-- BEGIN PAGE CONTENT-->
			<div class="row">
				<div class="col-md-12">
					<form class="form-horizontal form-row-seperated" action="#">
						<div class="portlet light">
							<div class="portlet-title">
								<div class="caption">
									<i class="fa fa-shopping-cart"></i>
									新的优惠券
								</div>
								<div class="actions btn-set">
									<button class="btn default">
										<i class="fa fa-reply"></i>
										重置
									</button>
									<button id="saveBtn" class="btn green">
										<i class="fa fa-check"></i>
										保存
									</button>
								</div>
							</div>
							<div class="portlet-body">
								<div class="form-body">
									<div class="form-group">
										<label class="col-md-2 control-label">
											名称:
											<span class="required">*</span>
										</label>
										<div class="col-md-8">
											<input autocomplete="off" id="coupon_name" type="text" class="form-control" placeholder=""></div>
									</div>
									<div class="form-group">
										<label class="col-md-2 control-label">
											折扣:
											<span class="required">*</span>
										</label>
										<div class="col-md-8">
											<input autocomplete="off" id="coupon_discount" type="text" class="form-control" placeholder=""></div>
									</div>
									<div class="form-group">
										<label class="col-md-2 control-label">
											限额:
											<span class="required">*</span>
										</label>
										<div class="col-md-8">
											<input autocomplete="off" id="coupon_limit" type="text" class="form-control" placeholder=""></div>
									</div>
									<div class="form-group">
										<label class="col-md-2 control-label">
											备注:
										</label>
										<div class="col-md-8">
											<textarea id="coupon_remark" class="form-control" placeholder="例如：仅限上海地区..."></textarea>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-2 control-label">
											数量:
											<span class="required">*</span>
										</label>
										<div class="col-md-8">
											<input autocomplete="off" id="coupon_stock" type="text" class="form-control" placeholder="如果是无穷多，请填写一个大数字！"></div>
									</div>
									<div class="form-group">
										<label class="col-md-2 control-label">
											时限:
											<span class="required">*</span>
										</label>
										<div class="col-md-8">
											<input autocomplete="off" id="limit_time" type="text" class="form-control" placeholder="请填写总秒数~"></div>
									</div>
									<div class="form-group">
										<label class="col-md-2 control-label">
											颜色：
											<span class="required">*</span>
										</label>
										<div class="col-md-8">
											<select id="coupon_color" class="form-control input-medium" value="1">
												<option value="1">红色</option>
												<option value="2">橙色</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<!-- END PAGE CONTENT-->
		</div>
	</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
	$("#0_4_left_bar").addClass("active open");
	$("#0_4_left_bar a:first").append('<span class="selected"></span>');
	$("#0_4_left_bar a:first span").addClass("open");
	$("#1_4_4_left_bar").addClass("active");
	function reset() {
		$("#coupon_name").val('');
		$("#coupon_discount").val('');
		$("#coupon_limit").val('');
		$("#limit_time").val('');
		$("#coupon_remark").val('');
		$("#coupon_stock").val('');
		$("#coupon_color").val('');
	}
	$("#saveBtn").click(function() {
		var t1 = $("#coupon_name").val();
		var t2 = $("#coupon_discount").val();
		var t3 = $("#coupon_limit").val();
		var t4 = $("#limit_time").val();
		var t5 = $("#coupon_remark").val();
		var t6 = $("#coupon_stock").val();
		var t7 = $("#coupon_color").val();
		$.post(
			"{{ url_for('add_coupon_template') }}", 
			{t1: t1, t2: t2, t3: t3, t4: t4, t5: t5, t6: t6, t7: t7}, 
			function(result) {
				if (result['data'] == '100') {
					alert('添加成功！');
					reset();
				} else {
					alert('添加失败！');
				}
			}
		);
	});
	$("#resetBtn").click(function() {
		reset();
	});
</script>
{% endblock %}