{% extends "layout.html" %}
{% block title %}优惠券{% endblock %}
{% block header %}
	<style type="text/css">
		.stamp {width: 100%; height: 110px; padding: 0 10px; margin-bottom: 7px; position: relative; overflow: hidden; }
		.stamp:before {content: ''; position: absolute; top: 0; bottom:0; left: 10px; right: 10px; z-index: -1;}
		.stamp:after {content: ''; position: absolute; left: 10px; top: 10px; right: 10px; bottom: 10px; box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5); z-index: -2;}
		.stamp i {position: absolute; left: 20%; top: 45px; height: 160px; width: 100%; background-color: rgba(255,255,255,.15); transform: rotate(-30deg);}
		.stamp .par {float: left;padding: 16px 15px; width: 60%; border-right: 2px dashed rgba(255,255,255,.3); text-align: left;}
		.stamp .par .title {color:#fff; font-size: 1.8em; }
		.stamp .par .description {color:#fff; font-size: 1em; }
		.stamp .copy span {font-size: 1.5em; color: #fff;}
		.stamp .copy .sign {font-size: 0.5em;}
		.stamp .copy {display: inline-block; padding: 11px 12px; width: 40%; vertical-align: text-bottom; font-size: 30px; color:rgb(255,255,255);}
		.stamp .copy p {font-size: 16px; margin-top: 15px; }
		.stamp01 {background: #F39B00; background: radial-gradient(rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 5px, #F39B00 5px);background-size: 15px 15px; background-position: 9px 3px;}
		.stamp01:before{background-color:#F39B00;}
		.stamp02{background: #D24161;background: radial-gradient(transparent 0, transparent 5px, #D24161 5px);background-size: 15px 15px;background-position: 9px 3px;}
		.stamp02:before{background-color:#D24161;}
		.stamp03{background: gray; background: radial-gradient(transparent 0, transparent 5px, gray 5px);background-size: 15px 15px;background-position: 9px 3px;}
		.stamp03:before{background-color:gray;}
		#coupon_list {
			padding: 5px;
		}
		#coupon_list p {
			margin: 0px;
		}
	</style>
{% endblock %}
{% block content %}
	<div id="coupon_list">
		{% for coupon in coupons %}
			{% if coupon.coupon_state == 0 or coupon.limit_time < current %}
			<div class="stamp stamp03">
			{% else %}
				{% if coupon.coupon_color == 1 %}
				<div class="stamp stamp01 active_coupon">
				{% elif coupon.coupon_color == 2 %}
				<div class="stamp stamp02 active_coupon">
				{% else %}
				<div class="stamp stamp02 active_coupon">
				{% endif %}
			{% endif %}
				<div class="par">
					<p class="title">{{ coupon.coupon_name }}</p>
					<p class="description">{{ coupon.coupon_remark }}</p>
					<p class="description">
					{% if coupon.limit_time > current %}
					有效期至 {{ coupon.limit_time }}
					{% else %}
					已过期
					{% endif %}
					</p>
				</div>
				<div class="copy">
					<span><span class="sign">￥</span>50</span>
					{% if coupon.coupon_limit == 0 %}
					<p></p>
					{% else %}
					<p>满{{ coupon.coupon_limit }}元可用</p>
					{% endif %}
				</div> <i></i>
			</div>
		{% endfor %}
<!-- 		<div class="stamp stamp01">
			<div class="par">
				<p class="title">优惠券</p>
				<p class="description">上海地区</p>
				<p class="description">有效期至 2015-06-26 </p>
			</div>
			<div class="copy">
				<span><span class="sign">￥</span>50</span>
				<p>满100元可用</p>
			</div> <i></i>
		</div>
		<div class="stamp stamp02">
			<div class="par">
				<p class="title">优惠券</p>
				<p class="description">上海地区</p>
				<p class="description">有效期至 2015-06-26 </p>
			</div>
			<div class="copy">
				<span><span class="sign">￥</span>50</span>
				<p>满100元可用</p>
			</div> <i></i>
		</div>
		<div class="stamp stamp03">
			<div class="par">
				<p class="title">优惠券</p>
				<p class="description">上海地区</p>
				<p class="description">有效期至 2015-06-26 </p>
			</div>
			<div class="copy">
				<span><span class="sign">￥</span>50</span>
				<p>满100元可用</p>
			</div> <i></i>
		</div> -->
	</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
	$(document).ready(function(){
    }); 
</script>
{% endblock %}