{% extends "layout.html" %}
{% block title %}首页{% endblock %}
{% block header %}
	<link rel="stylesheet" href="../static/css/skippr.css"/>
	<script src="../static/js/skippr.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/daterangepicker.css"/>
	<script type="text/javascript" src="../static/js/moment.min.js"></script>
	<script type="text/javascript" src="../static/js/daterangepicker.js"></script>
	<style type="text/css">
		#slide_banner { position: relative; overflow: auto; }
		#slide_banner li { list-style: none; height: 350px; }
		#slide_banner ul li { float: left; display: block; }
		.slide_page {
			height: 100%;
		}
		.aria-hidden {
			right: 15px;
			position: absolute;
			cursor: pointer;
			font-size: 2em;
			line-height: 0.7;
			font-style: normal;
			font-weight: normal;
			color: #cacccd;
		}
		#date_site_filter p {
			font-weight: normal;
			margin: 0;
			font-size: 16px;
			text-align: left;
		}
		#mask {
			background: rgba(0,0,0,0.3);
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			display: none;
			z-index: 10005;
		}
		.jumbotron p {
			margin-bottom: 0px;
		}
	</style>
{% endblock %}
{% block content %}
	<div class="jumbotron" style="margin-bottom: 0px; padding: 0px;">
		<div id="slide_banner" style="padding-top: 0px; height: 300px;">
			<div id="slide_skippr">
				<div style="background-image: url(../static/images/123456.jpg)">
					<h2> <strong>更多优惠~</strong>
					</h2>
				</div>
				<div style="background-image: url(../static/images/2891.jpg)">
					<h2 style="color: white"> <strong>这是广告~</strong>
					</h2>
				</div>
				<div style="background-image: url(../static/images/123456.jpg)">
					<h2>
						<strong>更多优惠~</strong>
					</h2>
				</div>
				<div style="background-image: url(../static/images/2891.jpg)">
					<h2 style="color: white"> <strong>这是广告~</strong>
					</h2>
				</div>
			</div>
		</div>
		<div id="date_site_filter" class="weui_cells weui_cells_access" style="margin: 10px;">
			<span class="weui_cell" href="javascript:;">
				<div class="weui_cell_bd weui_cell_primary">
					<p>位置：<i class="glyphicon glyphicon-map-marker"></i> 上海</p>
				</div>
				<div class="weui_cell_ft"></div>
			</span>
			<span class="weui_cell" href="javascript:;">
				<div class="weui_cell_bd weui_cell_primary">
					<p id="date_range_pick">时间：<span id="showTime">10/30/2015-10/31/2015</span></p>
				</div>
				<div class="weui_cell_ft"></div>
			</span>
		</div>
		<div style="padding-bottom: 10px;">
			<p class="weui_btn_area">
				<a href="javascript:$('#loadingToast').show();window.location.href='{{ url_for('search_page') }}';$('#loadingToast').hide();" class="weui_btn weui_btn_primary" id="order_btn">预订房间</a>
			</p>
		</div>
		<div id="loadingToast" class="weui_loading_toast" style="display: none;">
			<div class="weui_mask_transparent"></div>
			<div class="weui_toast">
				<div class="weui_loading">
					<div class="weui_loading_leaf weui_loading_leaf_0"></div>
					<div class="weui_loading_leaf weui_loading_leaf_1"></div>
					<div class="weui_loading_leaf weui_loading_leaf_2"></div>
					<div class="weui_loading_leaf weui_loading_leaf_3"></div>
					<div class="weui_loading_leaf weui_loading_leaf_4"></div>
					<div class="weui_loading_leaf weui_loading_leaf_5"></div>
					<div class="weui_loading_leaf weui_loading_leaf_6"></div>
					<div class="weui_loading_leaf weui_loading_leaf_7"></div>
					<div class="weui_loading_leaf weui_loading_leaf_8"></div>
					<div class="weui_loading_leaf weui_loading_leaf_9"></div>
					<div class="weui_loading_leaf weui_loading_leaf_10"></div>
					<div class="weui_loading_leaf weui_loading_leaf_11"></div>
				</div>
				<p class="weui_toast_content">数据加载中</p>
			</div>
		</div>
	</div>
	<div id="mask"></div>
	<div id="date-picker" style="position: fixed; display: none; z-index: 10006"></div>
{% endblock %}
{% block script %}
<script type="text/javascript">
	$(document).ready(function() {
		$("#loadingToast").hide();
        $("#slide_skippr").skippr({
            transition: 'slide',
            speed: 1000,
            easing: 'easeOutQuart',
            navType: 'bubble',
            childrenElementType: 'div',
            arrows: true,
            autoPlay: false,
            autoPlayDuration: 5000,
            keyboardOnAlways: true,
            hidePrevious: false
        });
        $("#close_btn").click(function(){
        	$("#filter").fadeOut();
        });
        // $("#order_btn").click(function(){
        // 	$("#filter").fadeIn();
        // });
        // $("#date_input").click(function(){
        // 	$("#date-picker").css({
        // 		"margin": "0px",
        // 		"top": function () {
        // 			return ($(window).height()/2 - $(this).height()/2 + "px");
        // 		},
        // 		"left": function () {
        // 			return ($(window).width()/2 - $(this).width()/2 + "px");
        // 		}
        // 	});
        // 	$("#mask").fadeIn();
        // 	$("#date-picker").fadeIn();
        // });
        // $("#mask").click(function(){
        // 	$("#mask").fadeOut();
        // 	$("#date-picker").fadeOut();
        // });
		// var k = new Kalendae('date-picker', {
		// 	months: 1,
		// 	mode: 'single'
		// });
		// k.subscribe('change', function (date) {
		// 	$("#date_input").val(this.getSelected());
		//		$("#mask").fadeOut();
		//		$("#date-picker").fadeOut();
		// });
		Date.prototype.DateAdd = function(strInterval, Number) {   
			var dtTmp = this;  
			switch (strInterval) {   
				case 's' :return new Date(Date.parse(dtTmp) + (1000 * Number));  
				case 'n' :return new Date(Date.parse(dtTmp) + (60000 * Number));  
				case 'h' :return new Date(Date.parse(dtTmp) + (3600000 * Number));  
				case 'd' :return new Date(Date.parse(dtTmp) + (86400000 * Number));  
				case 'w' :return new Date(Date.parse(dtTmp) + ((86400000 * 7) * Number));  
				case 'q' :return new Date(dtTmp.getFullYear(), (dtTmp.getMonth()) + Number*3, dtTmp.getDate(), dtTmp.getHours(), dtTmp.getMinutes(), dtTmp.getSeconds());  
				case 'm' :return new Date(dtTmp.getFullYear(), (dtTmp.getMonth()) + Number, dtTmp.getDate(), dtTmp.getHours(), dtTmp.getMinutes(), dtTmp.getSeconds());  
				case 'y' :return new Date((dtTmp.getFullYear() + Number), dtTmp.getMonth(), dtTmp.getDate(), dtTmp.getHours(), dtTmp.getMinutes(), dtTmp.getSeconds());  
			}
		}
		var date = new Date();
		var date1 = date.getFullYear() + '-' + (date.getMonth()+1) + '-' + date.getDate();
		var date2 = date.DateAdd('d', 1);
		date2 = date2.getFullYear() + '-' + (date2.getMonth()+1) + '-' + date2.getDate()
		$("#showTime").text(date1 + ' 到 ' + date2);
		$('#date_range_pick').daterangepicker({
		    locale: {
		      format: 'YYYY-MM-DD'
		    },
		    startDate: date1,
		    endDate: date2,
		    opens: 'center',
		    drops: 'down',
		    autoApply: true
		}, 
		function(start, end, label) {
			$("#showTime").text(start.format('YYYY-MM-DD') + ' 到 ' + end.format('YYYY-MM-DD'));
		});
		$('#date_range_pick').click(function(){ 
			$('html, body').animate({scrollTop:400}, 300); 
			return false; 
		});
	});
</script>
{% endblock %}
</html>