{% extends "layout.html" %}
{% block title %}首页{% endblock %}
{% block header %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/swiper.min.css') }}"/>
	<script src="{{ url_for('static', filename='js/swiper.min.js') }}"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/daterangepicker.css') }}"/>
	<script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/daterangepicker.js') }}"></script>
	<style type="text/css">
		.aria-hidden {
			right: 15px;
			position: absolute;
			cursor: pointer;
			font-size: 2em;
			line-height: 0.7;
			font-style: normal;
			font-weight: normal;
			color: #cacccd;
		}
		#date_site_filter p {
			font-weight: normal;
			margin: 0;
			font-size: 16px;
			text-align: left;
		}
		#mask {
			background: rgba(0,0,0,0.3);
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			display: none;
			z-index: 10005;
		}
		.jumbotron p {
			margin-bottom: 0px;
		}
	</style>
{% endblock %}
{% block content %}
	<div class="jumbotron" style="margin-bottom: 0px; padding: 0px;">
		<!-- Slider main container -->
		<div class="swiper-container" style="padding-top: 0px; height: 300px;">
		    <!-- Additional required wrapper -->
		    <div class="swiper-wrapper">
		        <!-- Slides -->
<!-- 				<div class="swiper-slide" style="background-image: url(http://7xo1w8.com1.z0.glb.clouddn.com/lunbo_2.png?imageView2/0/h/300/interlace/1)">
<h2 style="color: white"> <strong>这是广告~</strong>
	</h2>
</div> -->
				<div class="swiper-slide" style="background-image: url(http://7xo1w8.com1.z0.glb.clouddn.com/lunbo_1_1134.jpg?imageView2/0/h/300/interlace/1)">
				</div>
				<div class="swiper-slide" style="background-image: url(http://7xo1w8.com1.z0.glb.clouddn.com/lunbo_3.jpg?imageView2/0/h/300/interlace/1)">
<!-- 					<h2> <strong>更多优惠~</strong>
					</h2> -->
				</div>
		    </div>
		    <!-- If we need pagination -->
		    <div class="swiper-pagination"></div>

		    <!-- If we need navigation buttons -->
<!-- 		    <div class="swiper-button-prev"></div>
		    <div class="swiper-button-next"></div> -->
		</div>
		<div id="date_site_filter" class="weui_cells weui_cells_access" style="margin: 10px;">
			<span class="weui_cell" href="javascript:;">
				<div class="weui_cell_bd weui_cell_primary">
					<p>位置：<i class="glyphicon glyphicon-map-marker"></i> 上海</p>
				</div>
				<div class="weui_cell_ft"></div>
			</span>
			<span class="weui_cell" href="javascript:;">
				<div class="weui_cell_bd weui_cell_primary">
					<p id="date_range_pick">时间：<span id="showTime">10/30/2015-10/31/2015</span></p>
				</div>
				<div class="weui_cell_ft"></div>
			</span>
		</div>
		<div style="padding-bottom: 10px;">
			<p class="weui_btn_area">
				<a class="weui_btn weui_btn_primary" id="order_btn">预订房间</a>
			</p>
		</div>
		<div id="loadingToast" class="weui_loading_toast" style="display: none;">
			<div class="weui_mask_transparent"></div>
			<div class="weui_toast">
				<div class="weui_loading">
					<div class="weui_loading_leaf weui_loading_leaf_0"></div>
					<div class="weui_loading_leaf weui_loading_leaf_1"></div>
					<div class="weui_loading_leaf weui_loading_leaf_2"></div>
					<div class="weui_loading_leaf weui_loading_leaf_3"></div>
					<div class="weui_loading_leaf weui_loading_leaf_4"></div>
					<div class="weui_loading_leaf weui_loading_leaf_5"></div>
					<div class="weui_loading_leaf weui_loading_leaf_6"></div>
					<div class="weui_loading_leaf weui_loading_leaf_7"></div>
					<div class="weui_loading_leaf weui_loading_leaf_8"></div>
					<div class="weui_loading_leaf weui_loading_leaf_9"></div>
					<div class="weui_loading_leaf weui_loading_leaf_10"></div>
					<div class="weui_loading_leaf weui_loading_leaf_11"></div>
				</div>
				<p class="weui_toast_content">数据加载中</p>
			</div>
		</div>
	</div>
	<div id="mask"></div>
	<div id="date-picker" style="position: fixed; display: none; z-index: 10006"></div>
{% endblock %}
{% block script %}
<script type="text/javascript">
	$(document).ready(function() {
		$("#loadingToast").hide();
		//initialize swiper when document ready
		var mySwiper = new Swiper ('.swiper-container', {
			// Optional parameters
			autoplay: 3000,
			pagination: '.swiper-pagination',
			direction: 'horizontal',
			loop: true
		})
        $("#close_btn").click(function(){
        	$("#filter").fadeOut();
        });
        // $("#order_btn").click(function(){
        // 	$("#filter").fadeIn();
        // });
        // $("#date_input").click(function(){
        // 	$("#date-picker").css({
        // 		"margin": "0px",
        // 		"top": function () {
        // 			return ($(window).height()/2 - $(this).height()/2 + "px");
        // 		},
        // 		"left": function () {
        // 			return ($(window).width()/2 - $(this).width()/2 + "px");
        // 		}
        // 	});
        // 	$("#mask").fadeIn();
        // 	$("#date-picker").fadeIn();
        // });
        // $("#mask").click(function(){
        // 	$("#mask").fadeOut();
        // 	$("#date-picker").fadeOut();
        // });
		// var k = new Kalendae('date-picker', {
		// 	months: 1,
		// 	mode: 'single'
		// });
		// k.subscribe('change', function (date) {
		// 	$("#date_input").val(this.getSelected());
		//		$("#mask").fadeOut();
		//		$("#date-picker").fadeOut();
		// });
		Date.prototype.DateAdd = function(strInterval, Number) {
			var dtTmp = this;
			switch (strInterval) {
				case 's' :return new Date(Date.parse(dtTmp) + (1000 * Number));
				case 'n' :return new Date(Date.parse(dtTmp) + (60000 * Number));
				case 'h' :return new Date(Date.parse(dtTmp) + (3600000 * Number));
				case 'd' :return new Date(Date.parse(dtTmp) + (86400000 * Number));
				case 'w' :return new Date(Date.parse(dtTmp) + ((86400000 * 7) * Number));
				case 'q' :return new Date(dtTmp.getFullYear(), (dtTmp.getMonth()) + Number*3, dtTmp.getDate(), dtTmp.getHours(), dtTmp.getMinutes(), dtTmp.getSeconds());
				case 'm' :return new Date(dtTmp.getFullYear(), (dtTmp.getMonth()) + Number, dtTmp.getDate(), dtTmp.getHours(), dtTmp.getMinutes(), dtTmp.getSeconds());
				case 'y' :return new Date((dtTmp.getFullYear() + Number), dtTmp.getMonth(), dtTmp.getDate(), dtTmp.getHours(), dtTmp.getMinutes(), dtTmp.getSeconds());
			}
		}
		var date = new Date();
		var date3 = date.getFullYear() + '-' + (date.getMonth()+1) + '-' + date.getDate();
		var date1 = (date.getMonth()+1) + '-' + date.getDate();
		var date2 = date.DateAdd('d', 1);
		date2 = (date2.getMonth()+1) + '-' + date2.getDate()
		$("#showTime").text(date1 + ' 到 ' + date2 + '   共 1 晚');
		date1 = date.getFullYear() + '-' + date1;
		date2 = date.getFullYear() + '-' + date2;
		$('#date_range_pick').daterangepicker({
		    locale: {
		      format: 'YYYY-MM-DD'
		    },
		    "dateLimit": {
		        "days": 60
		    },
		    minDate: date3,
		    opens: 'center',
		    drops: 'down',
		    autoApply: true
		},
			function(start, end, label) {
				delta = parseInt(Math.abs(end - start) / 1000 / 60 / 60 /24);
				if (delta == 0) {
					end = end + 99199999 - 12799999;
				}
				$("#showTime").text(start.format('MM-DD') + ' 到 ' + end.format('MM-DD') + '   共 ' + delta + ' 晚');
				// if (start + 726399999 - 640000000 == end) {
				// 	end = end + 99199999 - 12799999;
				// }
				date1 = start.format('YYYY-MM-DD');
				date2 = end.format('YYYY-MM-DD');
				console.log(date1 + ' to ' + date2);
		});
		$('#date_range_pick').click(function(){
			$('html, body').animate({scrollTop:400}, 300);
			return false;
		});
		$("#order_btn").click(function(){
			$('#loadingToast').show();
			console.log(date1 + ' to ' + date2);
			$.post(
				'{{ url_for("search") }}',
				{t1: date1, t2: date2},
				function(result) {
					if (result['data'] == '100') {
						window.location.href="{{ url_for('search_page') }}";
						$("#loadingToast").hide();
					} else {
						alert("未知错误！");
					}
				}
			);
		})
	});
</script>
{% endblock %}
