{% extends "layout.html" %}
{% block title %}订单中心{% endblock %}
{% block header %}
	<style type="text/css">
		.order {
			margin: 10px;
			background: white;
			height: 150px;
		}
		.order p {
			margin-bottom: 0px;
		}
		.order a {
			color: black;
		}
		.order .left_order {
			float: left;
			width: 80%;
			height: 68px;
			padding-left: 15px;
			padding-top: 8px;
			font-size: 1.3em;
		}
		.order .right_order {
			float: left;
			width: 20%;
			height: 68px;
			padding-right: 0px;
			padding-top: 8px;
			max-width: 50px;
			font-size: 1.2em;
		}
		.description {
			font-size: 0.8em;
			color: rgba(0,0,0,.5);
		}
		.bottom1 {
			border-right: 1px solid rgba(0,0,0,.1);
		}
		.bottom2 {
			border-left: 1px solid rgba(0,0,0,.1);
		}
		.bottom a {
			float: left;
			width: 50%;
			height: 33px;
			text-align: center;
			font-size: 1.1em;
			padding-top: 3px;
			color: rgba(0,0,0,.8);
			border-top: 1px solid rgba(0,0,0,.1);
			border-bottom: 1px solid rgba(0,0,0,.1);
		}
		.bottom a:link {text-decoration: none; color: rgba(0,0,0,.8);}
		.bottom a:visited {text-decoration: none; color: rgba(0,0,0,.8);}
		.bottom a:hover {text-decoration: none; color: rgba(0,0,0,.8);}
		.bottom a:active {text-decoration: none; color: rgba(0,0,0,.8);}
		body {
			background: rgba(0,0,0,.1)
		}
		.order img {
			width: 100%;
		}
		.order_detail {
			padding-top: 10px;
			height: 117px;
		}
		.room_name {
			font-size: 1.3em;
		}
		.deal_state {
			margin-top: 5px;
			margin-bottom: 10px;
		}
	</style>
{% endblock %}
{% block content %}
	{% for order in orders %}
	<div class="order">
		<div class="order_detail">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-8">
						<p class="room_name">{{ order.room_name }}</p>
					</div>
					<div class="col-xs-4 deal_state">
						{% if order.deal_state == 0 %}
						<span class="label label-sm label-default">
						未付款 </span>
						{% elif order.deal_state == 1 %}
						<span class="label label-sm label-info">
						已付款 </span>
						{% elif order.deal_state == 2 %}
						<span class="label label-sm label-danger">
						进行中 </span>
						{% elif order.deal_state == 3 %}
						<span class="label label-sm label-success">
						已完成 </span>
						{% elif order.deal_state == 4 %}
						<span class="label label-sm label-warning">
						已失效 </span>
						{% elif order.deal_state == 5 %}
						<span class="label label-sm label-warning">
						已取消 </span>
						{% else %}
						错误！！！
						{% endif %}
					</div>
					<div style="clear: both;"></div>
					<div class="col-xs-4" style="padding-right: 0px;">
						<img src="http://7xo1w8.com1.z0.glb.clouddn.com/{{ order.deal_cost }}?imageView2/0/h/65/interlace/1">
					</div>
					<div class="col-xs-8">
						{{ order.date1[5:7] }}月{{ order.date1[8:10] }}日 - {{ order.date2[5:7] }}月{{ order.date2[8:10] }}日
						<br>
						订单总额：¥{{ order.deal_price }}
						<br>
						{{ order.deal_time }}
					</div>
				</div>
			</div>
		</div>
		<div style="clear: both;"></div>
		<div class="bottom">
			<a class="bottom1 viewDetailBtn" href="javascript: $('#loadingToast').show(); window.location.href='{{ url_for('order_detail_page', id=order.uuid) }}'; $('#loadingToast').show(); ">查看详情</a>
			<a class="bottom2 commentBtn">评价</a>
		</div>
	</div>
	{% endfor %}
<!-- 	<div class="order">
		<div class="left_order">
			<p>上海无敌江景房</p>
			<p class="description">2015/11/06 18:23</p>
		</div>
		<div class="right_order">
			<p>￥10</p>
			<p class="description">已完成</p>
		</div>
		<div style="clear: both;"></div>
		<a class="bottom viewDetailBtn">查看详情</a>
		<a class="bottom commentBtn">评价</a>
	</div> -->
	<div id="loadingToast" class="weui_loading_toast" style="display: none;">
		<div class="weui_mask_transparent"></div>
		<div class="weui_toast">
			<div class="weui_loading">
				<div class="weui_loading_leaf weui_loading_leaf_0"></div>
				<div class="weui_loading_leaf weui_loading_leaf_1"></div>
				<div class="weui_loading_leaf weui_loading_leaf_2"></div>
				<div class="weui_loading_leaf weui_loading_leaf_3"></div>
				<div class="weui_loading_leaf weui_loading_leaf_4"></div>
				<div class="weui_loading_leaf weui_loading_leaf_5"></div>
				<div class="weui_loading_leaf weui_loading_leaf_6"></div>
				<div class="weui_loading_leaf weui_loading_leaf_7"></div>
				<div class="weui_loading_leaf weui_loading_leaf_8"></div>
				<div class="weui_loading_leaf weui_loading_leaf_9"></div>
				<div class="weui_loading_leaf weui_loading_leaf_10"></div>
				<div class="weui_loading_leaf weui_loading_leaf_11"></div>
			</div>
			<p class="weui_toast_content" style="margin-top: 64%;">数据加载中</p>
		</div>
	</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
	$(document).ready(function(){
		$("#loadingToast").hide();
		$(".commentBtn").click(function() {
			alert("暂未开放，敬请期待！");
		});
    }); 
</script>
{% endblock %}