{% extends "layout.html" %}
{% block title %}订单详情{% endblock %}
{% block header %}
	<link rel="stylesheet" type="text/css" href="../static/css/daterangepicker.css"/>
	<script type="text/javascript" src="../static/js/moment.min.js"></script>
	<script type="text/javascript" src="../static/js/daterangepicker.js"></script>
	<style type="text/css">
		.aria-hidden {
			right: 15px;
			position: absolute;
			cursor: pointer;
			font-size: 2em;
			line-height: 0.7;
			font-style: normal;
			font-weight: normal;
			color: #cacccd;
		}
		#content_wrapper p {
			margin: 0px;
		}
		#content_wrapper label {
			font-weight: normal;
		}
		#bd {
			display: inline-block;
			background-color: #FBF9FE;
		}
		.filter {
			background: white;
			position: absolute;
			z-index: 1005;
			width: 100%;
		}
		.filter p {
			margin: 0;
		}
		.filter label {
			font-weight: normal;
			margin-bottom: 0px;
		}
		.weui_label {
			width: 70px;
		}
		.stamp {width: 100%; height: 110px; padding: 0 10px; margin-bottom: 7px; position: relative; overflow: hidden; }
		.stamp:before {content: ''; position: absolute; top: 0; bottom:0; left: 10px; right: 10px; z-index: -1;}
		.stamp:after {content: ''; position: absolute; left: 10px; top: 10px; right: 10px; bottom: 10px; box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5); z-index: -2;}
		.stamp i {position: absolute; left: 20%; top: 45px; height: 160px; width: 100%; background-color: rgba(255,255,255,.15); transform: rotate(-30deg); -ms-transform: rotate(-30deg); -moz-transform: rotate(-30deg); -webkit-transform: rotate(-30deg); -o-transform: rotate(-30deg);}
		.stamp .par {float: left;padding: 16px 15px; width: 60%; border-right: 2px dashed rgba(255,255,255,.3); text-align: left;}
		.stamp .par .title {color:#fff; font-size: 1.8em; }
		.stamp .par .description {color:#fff; font-size: 1em; }
		.stamp .copy span {font-size: 1.5em; color: #fff;}
		.stamp .copy .sign {font-size: 0.5em;}
		.stamp .copy {display: inline-block; padding: 11px 12px; width: 40%; vertical-align: text-bottom; font-size: 30px; color:rgb(255,255,255);}
		.stamp .copy p {font-size: 16px; margin-top: 15px; }
		.stamp01 {background: #F39B00; background: -moz-radial-gradient(rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 5px, #F39B00 5px); background: -webkit-radial-gradient(rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 5px, #F39B00 5px); background-size: 15px 15px; background-position: 9px 3px;}
		.stamp01:before{background-color:#F39B00;}
		.stamp02{background: #D24161; background: -moz-radial-gradient(transparent 0, transparent 5px, #D24161 5px); background: -webkit-radial-gradient(transparent 0, transparent 5px, #D24161 5px); background-size: 15px 15px; background-position: 9px 3px;}
		.stamp02:before{background-color:#D24161;}
		.stamp03{background: gray; background: -moz-radial-gradient(transparent 0, transparent 5px, gray 5px); background: -webkit-radial-gradient(transparent 0, transparent 5px, gray 5px); background-size: 15px 15px; background-position: 9px 3px;}
		.stamp03:before{background-color:gray;}
		#coupon_list {
			padding: 5px;
		}
		#coupon_list p {
			margin: 0px;
		}
		.remove_checkin_btn {
			font-weight: bold;
			margin-right: 5px;
		}
	</style>
{% endblock %}
{% block content %}
	<div class="filter" id="filter1" style="display: none;">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header" style="text-align: center; vertical-align: middle; padding-top: 8px;">
					<span style="font-size: 18px">入住人</span>
					<span class="aria-hidden" style="font-size: 3.2em" id="close_btn1">×</span>
				</div>
			</div>
		</nav>
		<div class="weui_cells_title">入住人信息</div>
		<div class="weui_cells weui_cells_form">
			<div class="weui_cell">
				<div class="weui_cell_hd">
					<label class="weui_label">真实姓名</label>
				</div>
				<div class="weui_cell_bd weui_cell_primary">
					<input id="liverNameInput" class="weui_input" type="text" placeholder="姓名"></div>
			</div>
			<div class="weui_cell weui_cell_select weui_select_after">
				<div class="weui_cell_hd">
					<label class="weui_label">证件类型</label>
				</div>
				<div class="weui_cell_bd weui_cell_primary">
					<select id="liverTypeInput" class="weui_select" name="select2">
						<option value="1">身份证</option>
						<option value="2">军人证</option>
						<option value="3">护照</option>
					</select>
				</div>
			</div>
			<div class="weui_cell">
				<div class="weui_cell_hd">
					<label class="weui_label">证件号码</label>
				</div>
				<div class="weui_cell_bd weui_cell_primary">
					<input id="liverNumberInput" class="weui_input" type="text" placeholder="号码"></div>
			</div>
		</div>
		<br>
		<div class="weui_opr_area" style="margin-left: 10px; margin-right: 10px;">
			<p class="weui_btn_area">
				<a href="#" class="weui_btn weui_btn_primary" id="addLiverBtn">添加</a>
			</p>
		</div>
		<br>
	</div>
	<div class="filter" id="filter2" style="display: none;">
		<nav class="navbar navbar-default" style="margin-bottom: 2px;">
			<div class="container-fluid">
				<div class="navbar-header" style="text-align: center; vertical-align: middle; padding-top: 8px;">
					<span style="font-size: 18px">优惠券</span>
					<span class="aria-hidden" style="font-size: 3.2em" id="close_btn2">×</span>
				</div>
			</div>
		</nav>
		<div id="coupon_list">
		{% for coupon in coupons %}
			{% if coupon.coupon_limit < room.room_price %}
			{% if coupon.coupon_state == 0 or coupon.limit_time < current %}
			<div class="stamp stamp03">
			{% else %}
				{% if coupon.coupon_color == 1 %}
				<div class="stamp stamp01 active_coupon" data-uuid={{ coupon.uuid }} data-discount={{ coupon.coupon_discount }} data-limit={{ coupon.coupon_limit }}>
				{% elif coupon.coupon_color == 2 %}
				<div class="stamp stamp02 active_coupon" data-uuid={{ coupon.uuid }} data-discount={{ coupon.coupon_discount }} data-limit={{ coupon.coupon_limit }}>
				{% else %}
				<div class="stamp stamp02 active_coupon" data-uuid={{ coupon.uuid }} data-discount={{ coupon.coupon_discount }} data-limit={{ coupon.coupon_limit }}>
				{% endif %}
			{% endif %}
				<div class="par">
					<p class="title">{{ coupon.coupon_name }}</p>
					<p class="description">{{ coupon.coupon_remark }}</p>
					<p class="description">
					{% if coupon.limit_time > current %}
					有效期至 {{ coupon.limit_time }}
					{% else %}
					已过期
					{% endif %}
					</p>
				</div>
				<div class="copy">
					<span><span class="sign">￥</span>{{ coupon.coupon_discount }}</span>
					{% if coupon.coupon_limit == 0 %}
					<p></p>
					{% else %}
					<p>满{{ coupon.coupon_limit }}元可用</p>
					{% endif %}
				</div> <i></i>
			</div>
			{% endif %}
		{% endfor %}
		</div>
	</div>
	<div id="bd">
		<div class="weui_cells_title">房间信息</div>
		<div class="weui_cells weui_cells_split">
			<div class="weui_cell">
				<div class="weui_cell_bd weui_cell_primary">
					<p>名称</p>
				</div>
				<div class="weui_cell_ft">
					{{ room.room_name }}
				</div>
			</div>
		</div>
		<div class="weui_cells_title">时间</div>
		<div class="weui_cells weui_cells_split">
			<div class="weui_cell">
				<div class="weui_cell_bd weui_cell_primary">
					<p>入住时间</p>
				</div>
				<div class="weui_cell_ft">
					{{ t[0] }}
				</div>
			</div>
			<div class="weui_cell">
				<div class="weui_cell_bd weui_cell_primary">
					<p>离开时间</p>
				</div>
				<div class="weui_cell_ft">
					{{ t[1] }}
				</div>
			</div>
		</div>
		<div class="weui_cells_title">入住人</div>
		<div class="weui_cells weui_cells_split">
			<div id="liver_div" class="weui_cell" style="padding: 0px;">
				<div class="weui_cell_bd weui_cell_primary" style="text-align: center; font-size: 27px;">
					<p id="addLiver">+</p>
				</div>
				<div id="liver_div">
					{% for checkin in checkins %}
					<div class="weui_cell">
						<div class="weui_cell_bd weui_cell_primary">
							<p><span class="remove_checkin_btn" data-uuid="{{ checkin.uuid }}"><i class="glyphicon glyphicon-minus"></i></span> {{ checkin.name }}</p>
						</div>
						<div class="weui_cell_ft">
							{{ checkin.identify }}
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="weui_cells_title">优惠券</div>
		<div class="weui_cells weui_cells_split">
			<div class="weui_cell" style="padding: 0px;">
				<div class="weui_cell_bd weui_cell_primary" style="text-align: center; font-size: 27px;">
					<p id="addCounpon">+</p>
				</div>
				<div class="weui_cell" id="coupon_show_div" style="display: none;">
					<div class="weui_cell_bd weui_cell_primary">
						<p><span id="remove_coupon_btn"><i class="glyphicon glyphicon-minus"></i></span>折扣</p>
					</div>
					<div class="weui_cell_ft">
						满<span id="coupon_limit_show" data-uuid></span>元减<span id="coupon_discount_show"></span>元
					</div>
				</div>
			</div>
		</div>
		<div class="weui_cells_title">预订人</div>
		<div class="weui_cells weui_cells_form">
			<div class="weui_cell">
				<div class="weui_cell_hd"><label class="weui_label" style="width: 70px;">真实姓名</label></div>
				<div class="weui_cell_bd weui_cell_primary">
					{% if user.true_name %}
					<input id="true_name_input" class="weui_input" type="text" placeholder="姓名" value="{{ user.true_name }}">
					{% else %}
					<input id="true_name_input" class="weui_input" type="text" placeholder="姓名">
					{% endif %}
				</div>
			</div>
		</div>
		<div class="weui_cells_title">价格</div>
		<div class="weui_cells weui_cells_split">
			<div class="weui_cell">
				<div class="weui_cell_bd weui_cell_primary">
					<p>总价</p>
				</div>
				<div class="weui_cell_ft">
					￥ <span id="room_price_show" data-price={{ room.room_price * (t[3] - t[2] + 1) }}>{{ room.room_price * (t[3] - t[2] + 1) }}</span>
				</div>
			</div>
		</div>
		<div class="weui_opr_area" style="position: fixed; left: 5%; bottom: 10px; width: 90%; z-index: 1">
			<p class="weui_btn_area">
				<a id="order_btn" class="weui_btn weui_btn_primary">提交订单</a>
			</p>
		</div>
		<br>
	</div>
	<div id="loadingToast" class="weui_loading_toast" style="display: none;">
		<div class="weui_mask_transparent"></div>
		<div class="weui_toast">
			<div class="weui_loading">
				<div class="weui_loading_leaf weui_loading_leaf_0"></div>
				<div class="weui_loading_leaf weui_loading_leaf_1"></div>
				<div class="weui_loading_leaf weui_loading_leaf_2"></div>
				<div class="weui_loading_leaf weui_loading_leaf_3"></div>
				<div class="weui_loading_leaf weui_loading_leaf_4"></div>
				<div class="weui_loading_leaf weui_loading_leaf_5"></div>
				<div class="weui_loading_leaf weui_loading_leaf_6"></div>
				<div class="weui_loading_leaf weui_loading_leaf_7"></div>
				<div class="weui_loading_leaf weui_loading_leaf_8"></div>
				<div class="weui_loading_leaf weui_loading_leaf_9"></div>
				<div class="weui_loading_leaf weui_loading_leaf_10"></div>
				<div class="weui_loading_leaf weui_loading_leaf_11"></div>
			</div>
			<p class="weui_toast_content" style="margin-top: 64%;">数据加载中</p>
		</div>
	</div>
	<div class="weui_dialog_alert" id="alert_dialog" style="display: none;">
		<div class="weui_mask"></div>
		<div class="weui_dialog">
			<div class="weui_dialog_hd"> <strong class="weui_dialog_title" style="color: black">注意</strong>
			</div>
			<div class="weui_dialog_bd" id="alert_content"></div>
			<div class="weui_dialog_ft">
				<a id="confirm_btn" href="javascript: $('#alert_dialog').hide();" class="weui_btn_dialog primary">确定</a>
			</div>
		</div>
	</div>
{% endblock %}
{% block script %}
	<script type="text/javascript">
		$("#loadingToast").hide();
		$(document).ready(function() {
			function IdentityCodeValid(code) { 
				var city={11:"北京",12:"天津",13:"河北",14:"山西",15:"内蒙古",21:"辽宁",22:"吉林",23:"黑龙江 ",31:"上海",32:"江苏",33:"浙江",34:"安徽",35:"福建",36:"江西",37:"山东",41:"河南",42:"湖北 ",43:"湖南",44:"广东",45:"广西",46:"海南",50:"重庆",51:"四川",52:"贵州",53:"云南",54:"西藏 ",61:"陕西",62:"甘肃",63:"青海",64:"宁夏",65:"新疆",71:"台湾",81:"香港",82:"澳门",91:"国外 "};
				var tip = "";
				var pass= true;
				
				if(!code || !/^\d{6}(18|19|20)?\d{2}(0[1-9]|1[012])(0[1-9]|[12]\d|3[01])\d{3}(\d|X)$/i.test(code)){
					tip = "身份证号格式错误";
					pass = false;
				}
				
				else if(!city[code.substr(0,2)]){
					tip = "地址编码错误";
					pass = false;
				}
				else{
					//18位身份证需要验证最后一位校验位
					if(code.length == 18){
						code = code.split('');
						//∑(ai×Wi)(mod 11)
						//加权因子
						var factor = [ 7, 9, 10, 5, 8, 4, 2, 1, 6, 3, 7, 9, 10, 5, 8, 4, 2 ];
						//校验位
						var parity = [ 1, 0, 'X', 9, 8, 7, 6, 5, 4, 3, 2 ];
						var sum = 0;
						var ai = 0;
						var wi = 0;
						for (var i = 0; i < 17; i++)
						{
							ai = code[i];
							wi = factor[i];
							sum += ai * wi;
						}
						var last = parity[sum % 11];
						if(parity[sum % 11] != code[17].toUpperCase()){
							tip = "校验位错误";
							pass =false;
						}
					}
				}
				// if(!pass) alert(tip);
				return pass;
			}
			$("#footer_wrapper").hide();
			$("#order_btn").click(function(){
				// 验证表单。
				if ($('#true_name_input').val() == '') {
					$("#alert_content").text("请填写真实姓名~");
					$("#alert_dialog").show();
					return;
				}
				if ($('#liver_div').text() == '') {
					$("#alert_content").text("请填写入住人信息~");
					$("#alert_dialog").show();
					return;
				}
				$('#loadingToast').show();
				var t1 = $("#true_name_input").val();
				$.post(
					"{{ url_for('add_true_name') }}", 
					{t1: t1}, 
					function(result) {
						var t2 = $("#coupon_limit_show").data('uuid');
						$.post(
							"{{ url_for('pay') }}", 
							{t1: t1, room: '{{ room.uuid }}', room_name: '{{ room.room_name }}', coupon: t2, t1: '{{ t[0] }}', t2: '{{ t[1] }}', true_name: '{{ user.true_name }}'}, 
							function(result) {
								$("#loadingToast").hide();
								if (result['data'] == '100') {
									window.location.href = "/pay/" + result['id'];
								} else if (result['data'] == '101') {
									$("#alert_content").text("登录已失效~");
									$("#alert_dialog").show();
									$("#confirm_btn").attr("href", $("#confirm_btn").attr("href") + "window.location.href = '{{ url_for('detail_page', id=room.uuid) }}';");
								} else if (result['data'] == '102') {
									$("#alert_content").text("抱歉，房源已不可用~");
									$("#alert_dialog").show();
									$("#confirm_btn").attr("href", $("#confirm_btn").attr("href") + "window.location.href = '{{ url_for('index_page') }}';");
								} else if (result['data'] == '103') {
									$("#alert_content").text("未找到该房源~");
									$("#alert_dialog").show();
									$("#confirm_btn").attr("href", $("#confirm_btn").attr("href") + "window.location.href = '{{ url_for('index_page') }}';");
								} else if (result['data'] == '105') {
									// alert(result['url']);
									window.location.href = result['url'];
									// window.location.href = result['url'];
								}
							}
						);
					}
				);
			});
			$("#addLiver").click(function(){
				$("#filter1").fadeIn();
				$("#bd").hide();
			});
			$("#addCounpon").click(function(){
				$("#filter2").fadeIn();
				$("#bd").hide();
			});
			$("#close_btn1").click(function(){
				$("#filter1").fadeOut();
				$("#bd").show();
			});
			$("#close_btn2").click(function(){
				$("#filter2").fadeOut();
				$("#bd").show();
			});
			$("#addLiverBtn").click(function() {
				var m = $("#liverNameInput").val();
				var t = $("#liverTypeInput").val();
				var n = $("#liverNumberInput").val();
				if (m == "" || n == "") {
					alert("请填写所有信息！");
				} else {
					// 身份证号码验证。
					if (IdentityCodeValid(n) == true) {
						$.post(
							"{{ url_for('add_checkin') }}", 
							{t1: m, t2: t, t3: n}, 
							function(result) {
								$("#liver_div").append('<div class="weui_cell"><div class="weui_cell_bd weui_cell_primary"><p><span class="remove_checkin_btn" data-uuid="' + result['uuid'] + '"><i class="glyphicon glyphicon-minus"></i></span> '+m+'</p></div><div class="weui_cell_ft">'+n+'</div></div>');
								$("#liverNameInput").val('');
								$("#liverTypeInput").val('');
								$("#liverNumberInput").val('');
							}
						);
						$("#filter1").fadeOut();
						$("#bd").show();
					} else {
						alert("身份证号格式有误！");
					}
				}
			});
			$("#addCounponBtn").click(function() {

			});
			$(".weui_cells").delegate(".remove_checkin_btn", "click", function() {
				var t = $(this);
				$.post("{{ url_for('remove_checkin') }}",
					{t1: t.data('uuid')},
					function(result) {
						t.parents(".weui_cell:first").remove();
					}
				);
			});
			$(".active_coupon").click(function() {
				var t1 = $(this).data('discount');
				var t2 = $(this).data('limit');
				$("#filter2").fadeOut();
				$("#bd").show();
				$("#coupon_show_div").show();
				$("#coupon_limit_show").text(t2);
				$("#coupon_discount_show").text(t1);
				$("#coupon_limit_show").data('uuid', $(this).data('uuid'));
				$('#room_price_show').text($("#room_price_show").data('price')-t1);
			});
			$("#remove_coupon_btn").click(function() {
				$("#coupon_show_div").hide();
				$('#room_price_show').text($("#room_price_show").data('price'));
			});
		})
	</script>
{% endblock %}