<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
	<title>其乐 - 支付</title>
	<link rel="stylesheet" href="../static/css/weui.min.css"/>
	<script src="../static/js/jquery.min.js"></script>
	<style type="text/css">
		body {
			font-family: "Hiragino Sans GB","华文细黑","STHeiti","微软雅黑","Microsoft YaHei",SimHei,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
		}
		body {
			background-color: #FBF9FE;
		}
		.hd {
			padding: 2em 0;
		}
		.page_title {
			text-align: center;
			font-size: 34px;
			color: #3CC51F;
			font-weight: 400;
			margin: 0 15%;
		}
		#login_switch {
			padding: 0 20px;
		}
		.weui_input {
			margin-left: 10px;
		}
		.login_tab {
			width: 50%;
			float: left;
			text-align: center;
			padding: 5px 0;
		}
		#login_switch .active {
			border-bottom: 2px solid #04be02;
		}
		#vcode_counter {
			margin: 9px 0;
			height: 25px;
			text-align: center;
			color: black;
			width: 110px;
			font-size: 16px;
			border-left: 1px solid #888;
		}
	</style>
</head>
<body>
	<div class="page cell">
		<div class="hd">
			<h1 class="page_title">其乐</h1>
		</div>
		<div class="bd">
			<div id="loadingToast" class="weui_loading_toast" style="display: none;">
				<div class="weui_mask_transparent"></div>
				<div class="weui_toast">
					<div class="weui_loading">
						<div class="weui_loading_leaf weui_loading_leaf_0"></div>
						<div class="weui_loading_leaf weui_loading_leaf_1"></div>
						<div class="weui_loading_leaf weui_loading_leaf_2"></div>
						<div class="weui_loading_leaf weui_loading_leaf_3"></div>
						<div class="weui_loading_leaf weui_loading_leaf_4"></div>
						<div class="weui_loading_leaf weui_loading_leaf_5"></div>
						<div class="weui_loading_leaf weui_loading_leaf_6"></div>
						<div class="weui_loading_leaf weui_loading_leaf_7"></div>
						<div class="weui_loading_leaf weui_loading_leaf_8"></div>
						<div class="weui_loading_leaf weui_loading_leaf_9"></div>
						<div class="weui_loading_leaf weui_loading_leaf_10"></div>
						<div class="weui_loading_leaf weui_loading_leaf_11"></div>
					</div>
					<p class="weui_toast_content">跳转中...</p>
				</div>
			</div>
			<div class="weui_cells_title">订单详情</div>
			<div class="weui_cells">
				<div class="weui_cell">
					<div class="weui_cell_bd weui_cell_primary">
						<p>房间名称</p>
					</div>
					<div class="weui_cell_ft">{{ order.room_name }}</div>
				</div>
				<div class="weui_cell">
					<div class="weui_cell_bd weui_cell_primary">
						<p>入住时间</p>
					</div>
					<div class="weui_cell_ft">{{ order.date1 }}</div>
				</div>
				<div class="weui_cell">
					<div class="weui_cell_bd weui_cell_primary">
						<p>离开时间</p>
					</div>
					<div class="weui_cell_ft">{{ order.date2 }}</div>
				</div>
				<div class="weui_cell">
					<div class="weui_cell_bd weui_cell_primary">
						<p>房间数量</p>
					</div>
					<div class="weui_cell_ft">1</div>
				</div>
				<div class="weui_cell">
					<div class="weui_cell_bd weui_cell_primary">
						<p>入住人数</p>
					</div>
					<div class="weui_cell_ft">{{ order.liver_info }}</div>
				</div>
				<div class="weui_cell">
					<div class="weui_cell_bd weui_cell_primary">
						<p>金额</p>
					</div>
					<div class="weui_cell_ft">¥{{ order.deal_price }}</div>
				</div>
			</div>
			<br>
			<div class="weui_btn_area">
				<a class="weui_btn weui_btn_primary" id="order_btn">立即支付</a>
				<a class="weui_btn weui_btn_warn" id="cancel_btn">取消订单</a>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
	$(document).ready(function(){
		alert("{{ sign[2] }}");
		$("#loadingToast").hide();
		$("#tab_switch_1").click(function(){
			$("#tab2").hide();
			$("#tab1").show();
			$("#tab_switch_2").removeClass("active");
			$("#tab_switch_1").addClass("active");
		});
		$("#tab_switch_2").click(function(){
			$("#tab1").hide();
			$("#tab2").show();
			$("#tab_switch_1").removeClass("active");
			$("#tab_switch_2").addClass("active");
		});
		$("#order_btn").click(function(){
			function onBridgeReady() {
				WeixinJSBridge.invoke(
					'getBrandWCPayRequest', {
					"appId"		: "wxfee84b23a06c2b97",		//公众号名称，由商户传入
					"timeStamp"	: {{ sign[0] }},			//时间戳，自1970年以来的秒数
					"nonceStr"	: "{{ sign[1] }}",			//随机串
					"package" 	: "prepay_id={{ sign[3] }}",
					"signType"	: "MD5",					//微信签名方式
					"paySign" 	: "{{ sign[2] }}"			//微信签名 
				},
				function(res) {
					if(res.err_msg == "get_brand_wcpay_request:ok" ) {
						window.location.href = '{{ url_for("success_page") }}';
					} else {
						alert(res.err_msg);
					}
					// 使用以上方式判断前端返回,微信团队郑重提示:res.err_msg将在用户支付成功后返回ok，但并不保证它绝对可靠。 
				}
			);}
			if (typeof WeixinJSBridge == "undefined") {
				if( document.addEventListener ) {
					document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
				} else if (document.attachEvent) {
					document.attachEvent('WeixinJSBridgeReady', onBridgeReady); 
					document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
				}
			} else {
				onBridgeReady();
			}
		});
		$("#cancel_btn").click(function() {
			$('#loadingToast').show();
			$.post(
				"{{ url_for('cancel_order') }}", 
				{t1: '{{ order.uuid }}'}, 
				function(result) {
					if (result['data'] == '100') {
						window.location.href='{{ url_for("index_page") }}';
						$('#loadingToast').hide();
					}
				}
			);
		});
	});
</script>
</html>