<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
	<title>其乐 - 重置密码</title>
	<link rel="stylesheet" href="../static/css/weui.min.css"/>
	<script src="../static/js/jquery.min.js"></script>
	<style type="text/css">
		body {
		    font-family: "Hiragino Sans GB","华文细黑","STHeiti","微软雅黑","Microsoft YaHei",SimHei,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
		    color: #888;
		}
		.hd {
			padding: 2em 0;
		}
		.page_title {
			text-align: center;
			font-size: 34px;
			color: #3CC51F;
			font-weight: 400;
			margin: 0 15%;
		}
		#tab {
			margin: 0 20px;
		}
		.weui_input {
			margin-left: 10px;
		}
		#tab {
			text-align: center;
			padding: 5px 0;
			border-bottom: 2px solid #04be02;
		}
		#vcode_counter {
			margin: 9px 0;
			height: 25px;
			text-align: center;
			color: black;
			width: 110px;
			font-size: 16px;
			border-left: 1px solid #888;
		}
	</style>
</head>
<body>
	<div class="page cell">
		<div class="hd">
			<h1 class="page_title" onclick="window.location.href='{{ url_for('index_page') }}';">其乐</h1>
		</div>
		<div class="bd">
			<div id="tab">
				重置密码
			</div>
			<br>
			<br>
			<div id="tab1">
				<div id="loadingToast" class="weui_loading_toast" style="display: none;">
					<div class="weui_mask_transparent"></div>
					<div class="weui_toast">
						<div class="weui_loading">
							<div class="weui_loading_leaf weui_loading_leaf_0"></div>
							<div class="weui_loading_leaf weui_loading_leaf_1"></div>
							<div class="weui_loading_leaf weui_loading_leaf_2"></div>
							<div class="weui_loading_leaf weui_loading_leaf_3"></div>
							<div class="weui_loading_leaf weui_loading_leaf_4"></div>
							<div class="weui_loading_leaf weui_loading_leaf_5"></div>
							<div class="weui_loading_leaf weui_loading_leaf_6"></div>
							<div class="weui_loading_leaf weui_loading_leaf_7"></div>
							<div class="weui_loading_leaf weui_loading_leaf_8"></div>
							<div class="weui_loading_leaf weui_loading_leaf_9"></div>
							<div class="weui_loading_leaf weui_loading_leaf_10"></div>
							<div class="weui_loading_leaf weui_loading_leaf_11"></div>
						</div>
						<p class="weui_toast_content">修改成功！</p>
					</div>
				</div>
				<div class="weui_cells weui_cells_form">
					<div class="weui_cell">
						<div class="weui_cell_hd">
							<label class="weui_label">手机号</label>
						</div>
						<div class="weui_cell_bd weui_cell_primary">
							<input id="register_username_input" class="weui_input" type="text" placeholder=""></div>
					</div>
					<div class="weui_cell weui_vcode">
						<div class="weui_cell_hd">
							<label class="weui_label">验证码</label>
						</div>
						<div class="weui_cell_bd weui_cell_primary">
							<input id="register_vcode_input" class="weui_input" type="text" placeholder=""></div>
						<div class="weui_cell_ft weui_vimg_wrp">
							<div id="vcode_counter">获取短信</div>
						</div>
					</div>
					<div class="weui_cell">
						<div class="weui_cell_hd">
							<label class="weui_label">新密码</label>
						</div>
						<div class="weui_cell_bd weui_cell_primary">
							<input id="register_password_input" class="weui_input" type="password" placeholder=""></div>
					</div>
				</div>
				<br>
				<br>
				<div class="weui_btn_area">
					<a class="weui_btn weui_btn_primary" id="register_btn">重置</a>
					<a href="javascript: window.location.href='{{ request.values['from'] }}';" class="weui_btn weui_btn_warn" id="cancel_btn">取消</a>
				</div>
			</div>
			<div class="weui_dialog_alert" id="dialog1" style="display: none;">
				<div class="weui_mask"></div>
				<div class="weui_dialog">
					<div class="weui_dialog_hd"> <strong class="weui_dialog_title" style="color: black">注意</strong>
					</div>
					<div class="weui_dialog_bd">请填写正确的手机号码！</div>
					<div class="weui_dialog_ft">
						<a href="javascript: $('#dialog1').hide();" class="weui_btn_dialog primary">确定</a>
					</div>
				</div>
			</div>
			<div class="weui_dialog_alert" id="dialog2" style="display: none;">
				<div class="weui_mask"></div>
				<div class="weui_dialog">
					<div class="weui_dialog_hd"> <strong class="weui_dialog_title" style="color: black">已发送</strong>
					</div>
					<div class="weui_dialog_bd">验证码发送成功，请注意查收！</div>
					<div class="weui_dialog_ft">
						<a href="javascript: $('#dialog2').hide();" class="weui_btn_dialog primary">确定</a>
					</div>
				</div>
			</div>
			<div class="weui_dialog_alert" id="dialog3" style="display: none;">
				<div class="weui_mask"></div>
				<div class="weui_dialog">
					<div class="weui_dialog_hd"> <strong class="weui_dialog_title" style="color: black">操作</strong>
					</div>
					<div class="weui_dialog_bd">密码修改成功~</div>
					<div class="weui_dialog_ft">
						<a href="javascript: $('#dialog2').hide(); window.location.href='{{ request.values['from'] }}';" class="weui_btn_dialog primary">确定</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
	$(document).ready(function(){
		$("#loadingToast").hide();
		$("#register_btn").click(function(){
			var t1 = $("#register_username_input").val();
			var t2 = $("#register_password_input").val();
			var t3 = $("#register_vcode_input").val();
			if (t1 == "" || t2 == "" || t3 == "") {
				return;
			}
			// 显示正在登录中...
			$('#loadingToast').show();
			$.post(
				'{{ url_for("resetpwd") }}',
				{t1: t1, t2: t2, t3: t3},
				function(result) {
					if (result['data'] == '100') {
						// 成功后返回到订单界面。
						$('#dialog3').show();
					} else if (result['data'] == '101') {
						alert("手机号不存在！");
					} else if (result['data'] == '102') {
						alert("验证码错误！");
					}
					$('#loadingToast').hide();
				}
			);
		});
		$("#vcode_counter").click(function(){
			var t1 = $("#register_username_input").val();
			if (!t1.match(/^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/)) {
				$("#dialog1").show();
				return;
			}
			if (vcode_counter_switch == 0) {
				$.post(
					"{{ url_for('sendVerifyCode') }}", 
					{t1: t1}, 
					function(result) {
						$('#dialog2').show();
					}
				);
				vcode_counter_switch = 1;
				vcode_counter_remain = 30;
				vcode_counter_count();
			}
		});
	});
	var vcode_counter_switch = 0;
	var vcode_counter_remain = 30;
	function vcode_counter_count() {
		if (vcode_counter_remain != 0) {
			$("#vcode_counter").text(vcode_counter_remain + " 秒");
			vcode_counter_remain = vcode_counter_remain - 1;
			setTimeout('vcode_counter_count()', 1000);
		} else {
			vcode_counter_switch = 0;
			$("#vcode_counter").text('获取验证码');
		}
	}
</script>
</html>